.landing-page-container {
    p {
        font-family: 'Pokemon'
    }

    .logo-container {
        img {
            width: 100%;
        }
    }

    .game-steps-container {
        text-align: center;
        height: 75vh;
        margin: 0 auto;
    }
}