.pokemon-container {
    font-family: 'Pokemon';
    display: flex;
    flex-direction: column;
    align-items: center;
    .pokemon-player-hp-bar-container {
        height: 12px;
        position: relative;
        background: #DCE0E3;
        border-radius: 8px;
        width: 50%;
        > span {
            display: block;
            height: 100%;
            -webkit-border-top-right-radius: 8px;
            -webkit-border-bottom-right-radius: 8px;
            -moz-border-radius-topright: 8px;
            -moz-border-radius-bottomright: 8px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            -webkit-border-top-left-radius: 20px;
            -webkit-border-bottom-left-radius: 20px;
            -moz-border-radius-topleft: 20px;
            -moz-border-radius-bottomleft: 20px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background-color: #20df28;
            position: relative;
            overflow: hidden;
        }
    }

    .pokemon-name-container {
        text-align: center;
    }

    .pokemon-type-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        img:nth-child(2){
            margin-left: 1rem;
        }
    }

    .pokemon-image {
        width: 125px;
        height: 125px;
    }
    
    .pokemon-image-container {
        background-image: url('../../../assets/images/other/battle-bg-125.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        text-align: center;
    }
}

.stat-increase {
    color: green;
}

.stat-decrease {
    color: red;
}