<div class="pokemon-container">
    <ng-container *ngIf="gameHasStarted">
        <div class="pokemon-image-container">
            <img [src]="generatePokemonImage()" [ngStyle]="onRoundCompletion()" class="pokemon-image">
        </div>
        <div class="pokemon-name-container">
            {{pokemonName}} || <span [ngStyle]="checkForStatChange()">{{pokemonTotal}}</span>
        </div>
        <div class="pokemon-type-container">
            <img [src]="generateTypeOne()"><img [src]="generateTypeTwo()" *ngIf="types[1]">
        </div>
        <div class="pokemon-player-hp-text-container">
            <h3>Player {{playerNumber}} HP</h3>
        </div>
        <div class="pokemon-player-hp-bar-container">
            <span class="player-hp-span" [ngStyle]="checkForPlayerHP()"></span>
        </div>
    </ng-container>
</div>