<div class="game-board-container">
    <app-pokemon 
    [pokemonName]="playerOneActivePokemon.name"
    [pokedex]="playerOneActivePokemon.pokedex"
    [pokemonTotal]="playerOnePkmnTotal"
    [statChange]="playerOneStatChange"
    [roundResult]="playerOneResult"
    [playerNumber]="'One'">
    </app-pokemon>

    <app-pokemon 
    [pokemonName]="playerTwoActivePokemon.name"
    [pokedex]="playerTwoActivePokemon.pokedex"
    [pokemonTotal]="playerTwoPkmnTotal"
    [statChange]="playerTwoStatChange"
    [roundResult]="playerTwoResult"
    [playerNumber]="'Two'">
    </app-pokemon>

    <button #playButton (click)="battlePokemon()" [disabled]="buttonDisabled">Play</button>
</div>