.game-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    app-pokemon:nth-child(1){
        margin-top: .5rem;
    }

    app-pokemon:nth-child(2){
        margin-top: 1.5rem;
    }
}