<div class="game-board-container">
    <app-pokemon 
    [pokemonName]="playerOneActivePokemon.name"
    [pokedex]="playerOneActivePokemon.pokedex"
    [pokemonTotal]="playerOnePkmnTotal"
    [statChange]="playerOneStatChange"
    [roundResult]="playerOneResult"
    [hpPercentage]="playerOnePercentage"
    [types]="[playerOneActivePokemon.typeOne, playerOneActivePokemon.typeTwo]"
    [playerNumber]="'One'">
    </app-pokemon>

    <app-pokemon 
    [pokemonName]="playerTwoActivePokemon.name"
    [pokedex]="playerTwoActivePokemon.pokedex"
    [pokemonTotal]="playerTwoPkmnTotal"
    [statChange]="playerTwoStatChange"
    [roundResult]="playerTwoResult"
    [hpPercentage]="playerTwoPercentage"
    [types]="[playerTwoActivePokemon.typeOne, playerTwoActivePokemon.typeTwo]"
    [playerNumber]="'Two'">
    </app-pokemon>

    <img src="assets/images/arrow-small.png" (click)="battlePokemon()">
</div>