/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Pokemon';
    src: url('assets/font/PKMN\ RBYGSC.ttf');
}

body {
    margin: 0;
    background-image: url('/assets/images/background.png');
    background-position: 10%;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}